<div ng-if="loggedIn != true">
  <div class="row">
      <div class="large-12 columns">
        <div class="signup-panel">
          <h1 class="welcome">Sign Up</h1>
          <form>
            <div class="row collapse">
              <div class="small-1 columns">
                <span class="prefix"><i class="fa fa-user"></i></span>
              </div>
              <div class="small-11  columns">
                <input type="text" placeholder="name" ng-model="name">
              </div>
            </div>
            <div class="row collapse">
              <div class="small-1 columns">
                <span class="prefix"><i class="fa fa-usd"></i></i></span>
              </div>
              <div class="small-11  columns">
                <input type="text" placeholder="rent" ng-model="rent">
              </div>
            </div>
            <div class="row collapse">
              <div class="small-1 columns">
                <span class="prefix"><i class="fa fa-envelope-o"></i></span>
              </div>
              <div class="small-11  columns">
                <input type="email" placeholder="email" ng-model="email">
              </div>
            </div>
            <div class="row collapse">
              <div class="small-1 columns ">
                <span class="prefix"><i class="fa fa-lock"></i></span>
              </div>
              <div class="small-11 columns ">
                <input type="password" placeholder="password" ng-model="password">
              </div>
            </div>
          </form>
          <a href="#" class="button" ng-click="createUser()">Sign Up! </a>
           <p>Already have an account? <a ui-sref="login">Login here &raquo</a></p>
        </div>
      </div>
     </div>

  <p ng-if="message">Message: <strong>{{ message }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>
</div>

<div ng-if="loggedIn == true" ng-controller="ActivityController">
  <div ng-include="'views/activity.html'"></div>
</div>
