<h1>Sign Up</h1>

Current User Logged In: {{currentUser.email}}

<div>
  Email: <input type="text" ng-model="email">
  Password: <input type="text" ng-model="password">

  <br><br>

  <button ng-click="createUser()">Create User</button>

  <br><br>

  <button ng-click="removeUser()">Remove User</button>

  <p ng-if="message">Message: <strong>{{ message }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>
</div>


<form>
  <label>Email</label>
  <input ng-model="user.email" type="text">
  <label>Password</label>
  <input type="password" ng-model="user.password" type="text">
  <button class="md-raised md-warn" ng-click="login()">Login</button>
</form>
